nav
{
  position: fixed;
  margin-top: 2em;
  margin-left: 5%;
  margin-right: 5%;
  height: 4em;
  width: 90%;
  background-color: white;
  border-radius: 2em;
  align-items: center;

  box-shadow: 0px 0px 10px #bdc3c7;
  display: flex;
  z-index: 2000;
  opacity: 0.9;
  backdrop-filter: blur(10px) saturate(300%);
  transition: all 0.2s;
}

.nav_absolute{
  position: absolute;
  margin-top: 0;
  top: 2em;
}

nav:hover
{
  box-shadow: 0px 0px 15px #bdc3c7;
  opacity: 1;
}

nav .link-logo{
  width: 100%;
  height: 100%;
  max-width: 14em;
  max-height: 4em;
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .header-logo
{
  width: 100%;
}

.header-link-container
{
  width: inherit;
  height: 100%;
  display : flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items:center;
  justify-content: space-around;
}

.header-link
{
  color:#645483;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  user-select: none;
  transition: color 0.2s ;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.Acceuil:hover{
  color: #ff589e;
}

.Tests:hover{
  color: #ce67bf;
}

.FAQ:hover{
  color: #b860bf;
}

.Contact:hover{
  color: #ab62c9;
}

.header-link:hover{
  transition: all 0.2s ;
}

.header-connect-container
{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0em 2em 2em 0em;
  color: #ff589e;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  padding-right: 1em;

  user-select: none;
  position: relative;
  --accent-color: #ff589e;
  z-index: 6;
  transition: color 200ms ease-in-out;

}

.header-connect-container::before
{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 0em 2em 2em 0em;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  z-index: -6;
  color: white;
  transition: transform 200ms ease-in-out;
}

.header-connect-container:hover::before{
  transform: scale(1);
}

.header-connect-container:hover
{
  color: white;
}