body{
    background-image: var(--light_gradient);
    background-size:cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect_container{
    width: 50vh;
    height: 50vh;

    background-color: white;
    opacity: 0.9;
    backdrop-filter: blur(10px) saturate(200%);
    border-radius: 2em;
    box-shadow: 0px 0px 10px #bdc3c7;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    overflow: hidden;
}

.connect_container:hover{
    backdrop-filter: blur(0px) saturate(100%);

}

.title_container{
    height: 20%;
    width: 80%;
}

.title_container h3{
    font-size: 1.5em;
    color: #645483;
    width: 100%;
    height: 100%;
}

.form_container{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form_container input{
    width: 100%;
    height: 7vh;
    border-style: none;
    box-shadow: 0px 0px 2px #bdc3c7;
    border-radius: 1em;
    padding-left: 1em;
    font-size: 2.5vh;
    transition: all 0.2s ease;
    color : #474547;
}


.form_container input:hover,.form_container input:focus{
    border: none;
    border-style: none;
    outline: none;
    caret-color: var(--light_pink);
    box-shadow: 0px 0px 4px #bdc3c7;
}
.form_container input:focus{
    transform: scale(1.03);
    transform-origin: center;
}

.form_container .forgot_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form_container a{
    color: #645483;
    font-size: 1em;
    transition: all 0.2s;
}

.form_container a:hover{
    color: var(--pink);
}

.connexion_button{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.connexion_button button{
    height: 100%;
    width:  100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-size: 1.4em;
    color: white;
    background: var(--pink);
    border-style: none;
    border:none;
    outline: none;
    overflow: hidden;
    transition: all 0.3s;
}

.connexion_button button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transform-origin: center;
    z-index: 10;
}

