body{
    margin: 0;
    background: #f2f3f7;
    height: 100vh;
    width: 100vw;
}

body .dashboard_container{
    position:absolute;
    top: 6em;
    left: 8em;
    right: 3em;
    bottom: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dashboard_container .dashboard_title{
    width: 100%;
    height: 5%;

    display: flex;
    align-items:center;

    color: #695c73;
    font-size: 4vh;

    user-select: none;
}

.main_part_container{
    width: 100%;
    height: 42%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part_1_container{
    height: 100%;
    width: 70%;

    margin-right: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part_2_container{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graph{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0.5em;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right: 1em;
    padding-left: 1em;
}

.graph:hover{
    transform-origin: center;
    transform: scale(1.012);
}

.canvas_title{
    width: 100%;
    height: 15%;
    font-size: 1.4em;
    color:#695B72;
    margin: 0;
    margin-top: 0.5em;
}

.canvas_container{
    width: 100%;
    height: 75% ;
    overflow: hidden;
}

canvas{
    width: 100%;
}

.graph-double{
    width: 60%;
}
.graph-3{
    width: 40%;
    margin-right: 1em;
}

