nav{
    width: 5em;
    background-color: white;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    transition: width 0.5s;
}

.slide-menu:hover {
  width: 15em;
}

header{
    width: 100%;
    height: 5em;

    position: relative;

    background-color: white;

    z-index: 10;

    display: flex;
    flex-direction: row;
}

header .home_logo{
    position: absolute;
    left: 0;
    top: 0;
    width: 5em;
    height: 5em;
    z-index: 11;
    border-right: solid 1px #f2f3f7;
    border-bottom: solid 1px #f2f3f7;
}

header .welcome-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4em;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

.welcome-text p{
    font-size: 1.4em;
    user-select: none;
}

.home_logo a{
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_logo a img{
    height: 60%;
    transition: all 0.3s;
}
.home_logo a img:hover{
    transform: scale(1.05);
}

.home_logo a:hover{
    cursor: pointer;
}

body{
    margin: 0;
    background-color: #f2f3f7;
    height: 100vh;
    width: 100vw;
}

body .dashboard_container{
    position:absolute;
    top: 6em;
    left: 8em;
    right: 3em;
    bottom: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dashboard_container .dashboard_title{
    width: 100%;
    height: 5%;

    display: flex;
    align-items:center;

    color: #695c73;
    font-size: 4vh;

    user-select: none;
}

.main_part_container{
    width: 100%;
    height: 42%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part_1_container{
    height: 100%;
    width: 70%;

    margin-right: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part_2_container{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graph{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0.5em;
    transition: all 0.3s;
}

.graph:hover{
    transform-origin: center;
    transform: scale(1.01);
}

.graph-double{
    width: 60%;
}
.graph-3{
    width: 40%;
    margin-right: 1em;
}

#myChart{
    width: 100%;
    height: 100%;
}
