/* CSS DES MENUS DE NAVIGATION DU DASHBOARD */

/*                  */
/* BARRE SUPÉRIEURE */
/*                  */

header{
    width: 100vw;
    height: 5em;

    position: relative;

    background-color: white;

    z-index: 10;

    display: flex;
    flex-direction: row;
}

header .home_logo{
    position: absolute;
    left: 0;
    top: 0;
    width: 5em;
    height: 5em;
    z-index: 11;
    border-right: solid 1px #f2f3f7;
    border-bottom: solid 1px #f2f3f7;
}

header .welcome-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4em;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

.welcome-text p{
    font-size: 1.4em;
    user-select: none;
}

.home_logo a{
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_logo a img{
    height: 60%;
    transition: all 0.3s;
}
.home_logo a img:hover{
    transform: scale(1.05);
}

.home_logo a:hover{
    cursor: pointer;
}

/*                */
/* BARRE LATÉRALE */
/*                */

nav{
    width: 5em;
    height:100vh;
    background-color: white;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    transition: width 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 8em;
    
}

nav .icon-container{
    width: 5em;
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 2em;
    position: relative;
}

.icon-container svg,.icon-container i{
    width:  2.5em;
    height: 2.5em;
}
.icon-container p{
    margin: 0;
    font-size: 0.9em;
}

.icon-container:last-child{
    position: absolute;
    bottom: 1em;
    margin-bottom: 0;
    display:flex;
    justify-content:center;
    align-items:center;
}

.icon-container:hover i{
    color: #FE6BBF;
}

i{
    transition: color 0.2s ease-in-out;
    color: #c1cace;
    z-index: 10000;
    font-size:2.5em;
    border:none;
    text-align: center;
}

.line{
    width:0px;
    height:100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    background-color: #c1cace;
    opacity: 0;
    transition: width 0.3s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}
.icon-container:hover .line{
    opacity: 1;
    width: 2px;
    background-color: #FE6BBF;
}

