.dashboard_container {
}
.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:90%;
    align-items: center;
    justify-content: space-around;

}

.test_title {
    font-size: 3em;
    background: var(--light_gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: saturate(110%) brightness(0.98);
}

.line-container {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.test-container {
    height: 100%;
    min-width: 2em;
    min-height: 2em;
    width: 27%;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgb(0 0 0 / 12%);
    border-radius:1.5rem;
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    transition: all .2s ease-out;
}

.test-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(31,45,61,.125)!important;
}

.testIcon-container {
    width:100%;
    height:50%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.testIcon-container i {
    font-size:3.5em;
    margin: 0;
    padding:0;
    background: var(--light_gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: saturate(110%) brightness(0.98);
}

.title-container {
    width: 90%;
    height: 50%;
    color: rgba(0, 0, 0, 0.74);
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.title-container h3 {
    font-size: 1.4em;
    margin: 0;
}

.title-container p {
    font-size:1.1em;
    text-align: center;
    color: #707070;
}