.content-container{
    padding:1em;
}
 
.content-container h2{
    margin-bottom: 1em;
}

.user-container{
    width:100%;
    height:3em;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom:0.8em;
    box-shadow: 0px 0px 2px #bdc3c7;
    border-radius:1em;
    overflow: hidden;
    transition: all 0.2s ease;
}


.user-description{
    box-shadow: none;
    margin-bottom: 0.1em;
}

.user-description>*{
    font-size:1.3em;
}


.user-container:last-child{
    margin-bottom:0;
}
.user-container>*{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height:100%;
    background-color: white;
    padding: 0em 1em 1em 0em;
}

.line-container>*:nth-child(2n){
    background-color: #f8f8f8;
}

.line-container:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 5px #bdc3c7;
    margin-top: 0.2em;
    margin-bottom: 1em;
}