/*                                          */
/* CSS DE LA PAGE DE MOFIFICATION DU PROFIL */
/*                                          */

body{
    margin: 0;
    padding: 0;
    padding-top: 7em;
    background-color: #f2f3f7;
}

body .content-container{
    position: relative;
    margin-top: 8em;

    margin-top: 1em;
    margin-bottom:1em;
    margin-left: 8em;
    margin-right: 3em;
    padding-top: 1em;
    border-radius: 1em;

    background-color: white;
}

.content-container .form-container{
    margin: 1em;
    width: 68%;
    position: relative;
}

.categorie{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.categorie h2{
    font-size: 1.5em;
    color: #807488;
    font-weight: bold;
    user-select: none;
    margin: 0;
    margin-bottom: 0.6em;
}

.categorie .item h4{
    margin-bottom: 0.8em;
    font-size: 1.3em;
}

.modif_button{
    position: absolute;
    top: 1.5em;
    right: 4em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border:2px solid #FF589E;
    border-radius:1em;
    color: #FF589E;
    transition:all 0.4s;
    z-index: 0;
}

.modif_button:hover{
    background: #FF589E;
    color: white;
}

.form-container .noModify{
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.form-container .noModify:hover{
    transform: scale(0);
}
.form-container .noModify:active{
    transform: scale(0);
}



