/*                                          */
/* CSS DE LA PAGE DE MOFIFICATION DU PROFIL */
/*                                          */

body{
    margin: 0;
    padding: 0;
    padding-top: 7em;
    background-color: #f2f3f7;
}

body .content-container{
    position: relative;
    margin-top: 8em;

    margin-top: 1em;
    margin-bottom:1em;
    margin-left: 8em;
    margin-right: 3em;
    padding-top: 1em;
    border-radius: 1em;

    background-color: white;
}

.content-container .profil-container{
    position: absolute;
    width: 30%;
    left: 0;
    top: 0;
    bottom: 0;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
}

.profil-container .img-container{
    margin-top: 2em;
    width: 12em;
    height: 12em;
    background: var(--light_gradient);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.img-container .img2-container{
    background: #f7f7f7;
    border-radius: 50%;
    position: absolute;
    --border:0.2em;
    top: var(--border);
    left: var(--border);
    right: var(--border);
    bottom: var(--border);
}

.content-container .form-container{
    margin: 1em;
    margin-left: 35%;
    width: 68%;
    position: relative;
}

.categorie{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.categorie h2{
    margin-bottom: 1em;
    font-size: 1.6em;
}
.categorie .item h4{
    margin-bottom: 0.8em;
    font-size: 1.3em;
}

.modif_button{
    position: absolute;
    top: 2;
    right: 4em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border:2px solid #FF589E;
    border-radius:1em;
    color: #FF589E;
    transition:all 0.4s;
}

.modif_button:hover{
    background: #FF589E;
    color: white;
}

