:root{
  --pink:#ff589e;
  --light_pink:#FEA4CA;
  --gradient: linear-gradient(127deg, var(--pink) 0%, #8261ee 100%);
  --light_gradient: linear-gradient(127deg, var(--light_pink) 0%, #cabafe 91%);
}

@font-face {
  font-family: 'Avenir';
  src: url('../Font/Avenir.ttc');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('../Font/Nunito-Regular.ttf');
}

html {
  scroll-behavior: smooth;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  z-index: 10000000;
}


p {
  font-size: 1.2em;
  text-align: justify;
  color: #2d3436;
}

*{
  font-family:"Nunito-Regular";
}

*::selection
{
  color: white;
  background-color: var(--light_pink);
}

/* Permet de centrer un element */
.centered{
  left: 50%;
  transform: translateX(-50%);
}

/* Permet de fixer la taille d'une div conteneur et de la centrer */
.inner{
  width: 100%;
  height: 100%;
  max-width: 1500px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@-webkit-keyframes autofill {
  0%,100% {
      color: #666;
      background: transparent;
  }
}
@keyframes autofill {
  0%,100% {
      color: #666;
      background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.text-fade
{
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


body{
  margin: 0 auto !important;
  max-width: 1500px;
  overflow-x: hidden;
}

body > * {
  box-sizing: border-box;
}


.CGU {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.CGU input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.CGU:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.CGU input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.CGU input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.CGU .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
